
<footer class="bg-dark container fixed-bottom">
  <div class="navbar">
      <a href="#" style="color: white;"> © 2021 - Bianca Lazzaris</a>
      
    </div>
</footer>




<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>