
<footer class="bg-dark container-fluid p-0 fixed-bottom">
  <div class="navbar">
      <small style="color: white;" class="mx-auto"> © 2019-2021 - Bianca Lazzaris Desenvolvimento</small>
      
    </div>
</footer>




<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>