<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Consular - Seu agendamento online</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/custom/style.css">
</head>

<body>


<div class="container d-inline-flex">
    <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action">Home</a>
        <a href="/perfil" class="list-group-item list-group-item-action">Meu dados</a>
        <a href="/perfil/novasolicitacao" class="list-group-item list-group-item-action">Escolha o serviço</a>
        <a href="/perfil/agendamentos" class="list-group-item list-group-item-action">Meus agendamentos</a>
      </div>
</div>

</nav>