<!DOCTYPE html>
<html lang="pt-br">

<div class="container w-25">
    <div class="aside">
        <div class="p-4">
        <div class=" list-group"  id="list-tab" role="tablist">
            <a
            href="/index" 
            class="list-group-item list-group-item-action">
                Home
            </a>    
            <a
            href="/perfil/novasolicitacao" 
            class=" list-group-item list-group-item-action">
                Escolha o serviço
            </a>
            <a 
            href="/perfil/agendamentos" 
            class="list-group-item list-group-item-action">
                Meus agendamentos
            </a>
            <a 
            href="/perfil" 
            class="list-group-item list-group-item-action">
                Meu dados
            </a>
            <a 
            href="/" 
            class="list-group-item list-group-item-action">
                Sair
            </a>
        </div>
    </div>
</div>
</div>