<!DOCTYPE html>
<html lang="pt-br">


<div class="aside">
    <div class="p-4 ">
        <div class=" list-group" id="list-tab" role="tablist">
            <a href="/home/<%= register.id %>" class=" list-group-item list-group-item-action">
                Início
            </a>
            <a href="/novasolicitacao/<%= register.id %>" class=" list-group-item list-group-item-action">
                Escolha o serviço
            </a>
            <a href="/agendamentos/<%= register.id %>" class="list-group-item list-group-item-action">
                Meus agendamentos
            </a>
            <a href="/perfil/<%= register.id %>" class="list-group-item list-group-item-action">
                Meu dados
            </a>
            <a href="/" class="list-group-item list-group-item-action">
                Sair
            </a>
        </div>
    </div>
</div>