<!DOCTYPE html>
<html lang="pt-br">


<div class="aside">
    <div class="p-4 ">
        <div class="nav flex-column">
            <a href="/home/<%= register.id %>" class="p-2 active">        
                Início
            </a>
            <a href="/agendamento/<%= register.id %>" class="p-2">
                Agendamentos
            </a>
            <a href="/perfil/<%= register.id %>" class="p-2">
                Meu dados
            </a>
            <a href="/" class="p-2">
                Sair
            </a>
        </div>
    </div>
</div>