<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Consular - Seu agendamento online</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/custom/style.css">
</head>

<body>
  <div class="container">
    <header class="cabecalho">
      <h1>cabecalho</h1>
    </header>

    <aside class="lateral">
      <h1>sidebar</h1>
    </aside>

    <main class="content">
      <div class="blog-item"></div>
      <div class="blog-item"></div>
      <div class="blog-item"></div>
      <div class="blog-item"></div>
      <div class="blog-item"></div>
      <div class="blog-item"></div>
      <div class="blog-item"></div>
      <div class="blog-item"></div>
      <div class="blog-item"></div>
      <div class="blog-item"></div>
    </main>

    <footer class="rodape">
      <h1>rodape</h1>
    </footer>
  </div>