<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/header.ejs') %>

    <div class="container">
        <h5>Página Principal</h5>
    </div>

    <div class="container">
        <a class="btn btn-secondary" href="/login">Login</a>
        <a class="btn btn-secondary" href="/cadastro">Cadastrar</a>
        <a class="btn btn-secondary" href="/perfil">Perfil</a>
        <a class="btn btn-secondary" href="/perfil/novasolicitacao">Nova Solicitação</a>
    </div>

<%- include ('./partials/footer.ejs') %>