<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/header.ejs') %>

<div class="container-fluid pt-5">
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body mx-auto">
          <h5 class="card-title">Bem vindo (a)</h5>
          <h6 class="card-subtitle mb-3 text-muted">Agende seu serviço consular online</h6>

          <form action="/loginapp" method="POST">
          <div class="form-group ">
            <label for="exampleInputEmail1">Endereço de email</label>
            <input 
            name="email"
            type="email" 
            class="form-control" 
            placeholder="Seu email" 
            id="exampleInputEmail1">
          </div>
          <div class="form-group ">
            <label for="exampleInputPassword1">Senha</label>
            <input 
            name="senha"
            class="form-control" 
            type="password" 
            placeholder="Senha" 
            id="exampleInputPassword1">
          </div>
          <button type="submit" clbuttonss="btn btn-success" >Entrar</a>
        </div>
      </div>
    </form>
</div>

<%- include ('./partials/footer.ejs') %>