<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/header.ejs') %>

    <div class="container">
        <h5>Cadastrar-se</h5>
    </div>
    <div class="container">
        <a class="btn btn-secondary" href="/">Home</a>
    </div>
    
<%- include ('./partials/footer.ejs') %>