<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/header.ejs') %>

<div class="container-fluid ">
    <div class="d-flex justify-content-center">
        <%- include('./partials/menu.ejs') %>
        <div class="p-4 m-4 col-7 bg-light ">
            <h1>Suas solicitações</h1>
        </div>
    </div>
</div>

<%- include ('./partials/footer.ejs') %>